body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    counter-reset: heading;
}

h1:before {
    content: counter(heading) ".\0000a0\0000a0";
    counter-increment: heading;
}

h1 {
    counter-reset: subheading;
}

h2:before {
    content: counter(heading)"." counter(subheading) ".\0000a0";
    counter-increment: subheading;
}

b {
    font-weight: 900;
}

.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

#tooltip {
    font-size: 10pt;
    font-weight: 900;

    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
}

.node {
    stroke: #ffffff;
    stroke-weight: 1px;
}

.link {
    fill: none;
    stroke: #888888;
    stroke-weight: 1px;
    stroke-opacity: 0.5;
}

.highlight {
    stroke: red;
    stroke-weight: 4px;
    stroke-opacity: 1.0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.lpa-column {
    float: left;
    width: 45%;
    padding: 0px 30px 0px 30px;
}

.rank-column {
    float: left;
    width: 30%;
    padding: 0px 20px 0px 20px;
}

.row {
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}